---

- name: Create files
  become: true
  file:
    path: "{{ item.path }}"
    state: "{{ item.state }}"
    owner: "{{ item.owner }}"
  with_items: "{{ _python_create_files | default({}) }}"
  when: _python_create_files is defined
