---
- name: Install python PyEnv
  git:
    repo: "{{ _python_pyenv_repo }}"
    dest: "{{ python_pyenv_path }}"
    update: "{{ python_pyenv_update_git_install }}"
    version: master
  become: true
  become_user: "{{ python_pyenv_owner }}"
  when:
    - python_pyenv_install

- name: Install python PyEnv-virtualenv plugin
  git:
    repo: "{{ _python_pyenv_virtualenv_repo }}"
    dest: "{{ python_pyenv_path }}/plugins/pyenv-virtualenv"
    update: "{{ python_pyenv_update_git_install }}"
    version: master
  become: true
  become_user: "{{ python_pyenv_owner }}"
  when:
    - python_pyenv_install
